* {
    margin: 0;
}

nav{
    background-color: lightgreen;
    height: 20vh;
}
header{
    background-color: orange;
    height: 25vh;
}
main{
    background-color: lightblue;
    height: 17vh;
}
section{
    background-color: purple;
    height: 15vh;
}
footer{
    background-color: green;
    height: 15vh;
}

@media screen and (min-width:600px) {
    nav{
        float: left;
        height: 42vh;
        width: 20vw;
    }
}

@media screen and (min-width:900px) {
    section{
        position: absolute;
        top: 0;
        right:0;
        height: 42vh;
        width: 20vw;
    }
}