.titulo{
    display: flex;
    justify-content: center;
    color: rgb(164, 67, 194);
    font-size: 50px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.areaSeleccion{
    width: 100%;
    margin-top: 5%;
    background-color: rgb(164, 67, 194);
    height: 350px;
    border-radius: 10px;
    border: 3px solid gold;
}

  