.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.areaSeleccion{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 350px;
    border-radius: 10px;
    border: 3px solid rgba(253, 215, 0, 0.5);
}

  