body{
    background-color: rgb(26, 17, 63);
}

.nombre{
    font-family: 'Honk', system-ui;
    font-size: 35px;
    text-decoration: none;
}

h1{
    font-size: 50px;
}

main{
    margin: 120px;
}

.carousel-item{
    max-height: 600px;
    max-width: 1000px;
}

a{
    text-decoration: none;
}

.a:hover{
    background-color: lightgray;
}

img.psplus{
    width: 100%;
    max-width: 800px;
}

.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  

@media screen and (min-width: 1000px) {
    .datos {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
