header{
    background-color: yellow;
    height: 20vh;
}

main{
    background-color: blue;
    height: 40vh;
}

nav{
    background-color: orange;
    height: 20vh;
}

footer{
    background-color: green;
    height: 20vh;
}

@media screen and (min-width:480px) {
    nav, footer {
        height: 40vh;
        width: 45vw;
        float: left;
    }

}