header{
    background-color: yellow;
    height: 10rem;
    margin-bottom: 0.5rem;
}

main{
    background-color: blue;
    height: 25rem;
    margin-bottom: 0.5rem;
}

nav{
    background-color: orange;
    height: 15rem;
    margin-bottom: 0.5rem;
}

footer{
    background-color: green;
    height: 8rem;
}

@media screen and (min-width:480px) {
    body{
        position: relative;
    }

    header {
        background-color: yellow;
        height: 15rem;
    }
    
    main {
        background-color: blue;
        height: 25rem;
    }
    
    nav, footer {
        position: absolute;
        height: 15rem;
    }
    
    nav {
        background-color: orange;
        left: 0;
        width: 49.5%;
    }
    
    footer {
        background-color: green;
        right: 0;
        width: 49.5%;
    }

}