header{
    background-color: yellow;
    height: 20vh;
}

nav{
    background-color: green;
    height: 15vh;
}

main{
    background-color: blue;
    height: 45vh;
}


footer{
    background-color: orange;
    height: 20vh;
}

@media screen and (min-width:480px) {

    main, nav, aside {
        height: 45vh;
        float: left;
    }

    nav {
        width: 25vw;
    }

    main {
        width: 68vw;
    }
    
    footer {
        clear: both;
    }

    aside {
        background-color: red;
        height: 15vh;
        width: 100%;
    }
    
}

@media screen and (min-width:800px) {

     main, aside, nav {
        width: 33%;
        float: left;
        height: 60vh;
    }
    
    aside {
        background-color: red;
    }
    
    footer {
        clear: both;
    }

}