.luchador {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border: 1px solid black;
    display: inline-block;
    margin: 3px;
  }
  
.container {
  margin: 40px;
  max-width: 260px;
}