<div class="container">
  <div class="row">
    <div class="col-md-6 luchador" *ngFor="let luchador of luchadores; let i = index">
      <app-retrato-luchador [luchador]="luchador" [indiceLuchador]="i" [indiceSeleccionado]="indiceSeleccionado" (luchadorSeleccionado)="mostrarNombreLuchador($event)"></app-retrato-luchador>
    </div>
  </div>
  <div class="personaje" *ngIf="luchadorSeleccionado">
    <img class="animacion" src="{{luchadorSeleccionado.animacion}}" alt="">
    <div class="datos">
      <div class="nombre">{{ luchadorSeleccionado.nombre }}</div>
      <div class="atributos">
        <app-atributos-luchador nombreAtributo="FUERZA" [valorAtributo]="luchadorSeleccionado?.fuerza"></app-atributos-luchador>
        <app-atributos-luchador nombreAtributo="DESTREZA" [valorAtributo]="luchadorSeleccionado?.destreza"></app-atributos-luchador>
        <app-atributos-luchador nombreAtributo="VIDA" [valorAtributo]="luchadorSeleccionado?.vida"></app-atributos-luchador>
      </div>
      
    </div>
  </div>
</div>
