#contenedor{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.dado{
    border-radius: 4%;
    display: flex;
    background-color: rgb(196, 5, 53);
    height: 100px;
    width: 100px;
    margin-left: 2vw;
}

.punto{
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;

}

#punto2{
    justify-self: end;
    align-self: flex-end;
}

#punto4{
    align-self: center;
}

#punto5{
    align-self: flex-end;
}

#punto11{
    align-self: flex-end;
}

#punto12{
    align-self: center;
}

#punto13{
    align-self: flex-end;
}

#punto16{
    align-self: center;
}

#punto19{
    align-self: center;
}

#punto17{
    align-self: flex-end;
}

#punto18{
    align-self: flex-end;
}

#uno{
    align-items: center;
    justify-content: center;
}

#dos{
    justify-content: space-between;
}

#tres{
    justify-content: space-between;
}

#cuatro{
    justify-content: space-between;
}

#columna1{
    height: 100px;
    align-content: space-between;

}

#columna2{
    height: 100px;
    align-content: space-between;
}



#cinco{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

#seis{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}