header{
    background-color: yellow;
    height: 18vh;

}

nav{
    background-color: green;
    height: 15vh;

}

main{
    background-color: blue;
    height: 45vh;

}


footer{
    background-color: orange;
    height: 20vh;
}

@media screen and (min-width:480px) {
    nav, main{
        height: 60vh;
        float: left;
    }

    main {
        width: 75%;
    }
    
    nav {
        width: 25%;
    }
    
    footer {
        clear: both;
    }

}