header{
    background-color: yellow;
    height: 11rem;
    margin-bottom: 0.5rem;
}

nav{
    background-color: green;
    height: 9rem;
    margin-bottom: 0.5rem;
}

main{
    background-color: blue;
    height: 26rem;
    margin-bottom: 0.5rem;
}


footer{
    background-color: orange;
    height: 10rem;
}

@media screen and (min-width:480px) {
    body{
        position: relative;
    }

    header {
        background-color: yellow;
        height: 11rem;
        margin-bottom: 0.5rem;
    }
    
    main {
        background-color: blue;
        right: 0;
        width: 74%;
    }
    
    nav {
        background-color: green;
        left: 0;
        width: 25%;
    }

    nav, main {
        position: absolute;
        height: 35rem;
    }
    
    footer {
        background-color: orange;
        margin-top: 36rem;
        height: 10rem;
    }

}