<div class="card">
    <div class="card-header bg-success text-white">
        <span>{{titulo}}</span>
        <nav class="navbar navbar-light bg-transparent">
            <div class="container-fluid">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Buscar</button>
              </form>
            </div>
        </nav>
    </div>
    <div class="card-block">
        <div class="table-responsive" *ngIf="productos && productos.length">
            <table class="table table-striped table-hover">
                <thead class="card-header">
                    <tr>
                        <th>{{cabeceras.id}}</th>
                        <th><button (click)="mostrarImagen" [ngClass]="ClasesBoton">{{textoBoton}}</button></th>
                        <th>{{cabeceras.descripcion}}</th>
                        <th>{{cabeceras.precio}}</th>
                        <th>{{cabeceras.disponibilidad}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos; let i=index; let esPar=even">
                        <td [ngStyle]="{'background-color': esPar? 'green':'red'}">{{i}} </td>
                        <td *ngIf="mostrarImagenes"><img [src]="producto.imagenUrl" [width]="anchoImagenes"></td>

                        <td [ngStyle]="esPar? estilosPar:estilosImpar">
                        {{producto.descripcion}}</td>
                        <td (click)="mostrarPrecio(producto)" [ngClass]="{'precioPar':esPar==true, 'precioImpar':!esPar}">{{producto.precio}}</td>
                        <td>{{producto.disponibilidad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
