<div class="card">
    <div class="card-header bg-success text-white">
        <span>{{titulo}}</span>
            <div id="busqueda">
                <mat-icon>search</mat-icon>
                <label for="buscar">Buscar</label>
                <input [(ngModel)]="filtroBusqueda" class="form-control me-2" type="search" placeholder="Buscar" name="buscar" id="buscar" aria-label="Search">
            </div>
    </div>
    <div class="card-block">
        <div class="table-responsive" *ngIf="productos && productos.length">
            <table class="table table-striped table-hover">
                <thead class="card-header">
                    <tr>
                        <th>{{cabeceras.id}}</th>
                        <th><button (click)="mostrarOcultarImagen()" [ngClass]="ClasesBoton">{{textoBoton}}</button></th>
                        <th>{{cabeceras.descripcion}}</th>
                        <th>{{cabeceras.precio}}</th>
                        <th>{{cabeceras.disponibilidad}}</th>
                        <th>Puntuación</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr *ngFor="let producto of productos | filtroProductos: filtroBusqueda; let i=index; let esPar=even">
                            <td [ngStyle]="{'background-color': esPar? 'gray':'black'}" [ngClass]="'indiceEnBlanco'">{{producto.id}} </td>
                            <td *ngIf="mostrarImagenes" [ngClass]="'centro'"><img 
                                [src]="producto.imagenUrl" 
                                [width]="anchoImagenes" 
                                [ngStyle]="{'display' : displayFotos}"></td>          
                                         
                            <td [ngStyle]="esPar? estilosPar:estilosImpar">
                            {{producto.descripcion}}</td>
                            <td (click)="mostrarPrecio(producto)" [ngClass]="{'precioPar':esPar==true, 'precioImpar':!esPar}">{{producto.precio | currency:'EUR'}}</td>
                            <td>{{producto.disponibilidad | date:'dd/MM/yyyy'}}</td>
                            <td>
                                <mat-icon *ngFor="let estrella of [1, 2, 3, 4, 5];" [ngClass]="{'estrella_amarilla':estrella<=producto.puntuacion, 'estrella_gris': estrella>producto.puntuacion}">
                                  star
                                </mat-icon>
                              </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
