div.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div span{
    font-weight: bold;
    margin-left: 25px;
    font-size: large;
}

.precioPar{
    color: rgb(6, 153, 62);
}

.precioImpar{
    color: rgb(26, 102, 92);
}

.indiceEnBlanco{
    color: white;
}
