<div class="card">
    <div class="card-header bg-success text-white">
        <span>{{titulo}}</span>
            <div id="busqueda">
                <mat-icon>search</mat-icon>
                <label for="buscar">Buscar</label>
                <input [(ngModel)]="filtroBusqueda" class="form-control me-2" type="search" placeholder="Buscar" name="buscar" id="buscar" aria-label="Search">
            </div>
    </div>
    <div class="card-block">
        <div class="table-responsive" *ngIf="productos && productos.length">
            <table class="table table-striped table-hover">
                <thead class="card-header">
                    <tr>
                        <th>{{cabeceras.id}}</th>
                        <th><button (click)="mostrarOcultarImagen()" [ngClass]="ClasesBoton">{{textoBoton}}</button></th>
                        <th>{{cabeceras.descripcion}}</th>
                        <th>{{cabeceras.precio}}</th>
                        <th>{{cabeceras.disponibilidad}}</th>
                        <th>Puntuación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr item-producto *ngFor="let producto of productos | filtroProductos:filtroBusqueda"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
